[FORMAT]
max-line-length=150

[MESSAGES CONTROL]
disable=broad-exception-caught,broad-exception-raised,consider-using-enumerate,logging-fstring-interpolation,missing-docstring,missing-function-docstring